@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import './media';

.contactUsCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.phoneNum {
  display: inline !important;
}

.contactUsCardsHeading {
  font-size: 30px;
  text-align: center;
}

.contactUsCardDialog {
  .contactUsImage {
    margin: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(139, 139, 139, 0.288);

    @include mobile{
      margin: 0;

      width: 100px;
      height: 100px;
    }
  }

  .contactUsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-bottom: 2vh;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    margin: 20px;
    font-size: 18px;

    @include mobile{
      margin: 0;
      font-size: 10px;
      padding-top: 1vh;
    }
  }
}
