@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./media";

* {
  box-sizing: border-box;
}

.HomepageCenter{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .logo{
    height: 18vh;
  }

  .HomepageLogoText{
    color: #fff;
    transition-delay: 1s;
    transition-timing-function: ease-out;
    margin-top: 1vh;
    margin-left: 2vw;
    h1{
      font-size: 2.5vw;
      user-select: none;
      font-family: 'Mulish', sans-serif;
    }
  }

  .iiitr{
    position: fixed;
    color: #fff;
    bottom: 30vh;
    transition-delay: 1s;
    transition-timing-function: ease-out;
    font-size: 2.1vw;
    user-select: none;
    font-family: 'Mulish', sans-serif;
  }

}

.topComponents::before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.top {
  height: 100vh;
  overflow: hidden;

  .backImage{
    object-fit: cover;
    display: flex;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }

  .topComponents{

  .aboutIIITR {
    position: absolute;
    height: 80vh;
    width: 30vw;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.1vw);
    left: 60vw;
    top: 15vh;
    background: rgba(21, 54, 74, 0.71);
    //segoe
    .aboutHead {
      color: white;
      font-weight: 900;
      padding: 1vw;
      position: relative;
      max-height: 0.5vh;
      font-size: 3vw;
      top: 8%;
      left: 0.5vw;
    }

    p {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      padding: 1vw;
      font-size: 1.1vw;
      position: relative;
      top: 15vh;
    }
  }

  .updates {
    position: absolute;
    bottom: 5%;
    height: 30vh;
    width: 40vw;
    margin: 5vw;
    padding: 1vw;
    background-color: rgba(21, 54, 74, 0.71);

    .line {
      position: relative;
      margin: 0;
      top: 5%;
      left: 2%;
      margin-right: 10vw;
      border-top-width: 0.8vw;
      border-top-color: #9e8f74;
    }

    h1 {
      opacity: 1;
      position: relative;
      margin-top: 2vh;
      padding-left: 1vw;
      color: #fff;
      font-size: 2.5vw;
    }
  }

  .scrollNoti {
    display: flex;
    position: absolute;
    bottom: 5vh;
    right: 50vw;
    font-size: 1.2vw;
    animation: 1.8s updown ease-in-out infinite;
    user-select: none;

    .fas {
      color: #fff;
      -webkit-text-stroke: 0px;
    }
  }}
}

// .top.scrolled{
// 	transform: translate3d(0, -100%, 0) scale(.75);
// 	opacity: 0;
// }

.content {
  // position: relative;
  // background-color: #fff;
  // margin-top: 10rem;
  // border-top: 10px solid rgba(43,45,127,1);
  // padding: 0;
  // margin: 0;
  // transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
  // transform: translate3d(0, 20px, 0) scale(.75);
  // opacity: 0;

  .missionHead {
    background-color: rgba(43, 45, 127, 1);
    height: 25vh;

    .heading {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5vw;
      font-weight: 1000;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      top: 50%;
      padding-left: 10vw;
      margin: 0;
      position: relative;
      text-decoration-line: underline;
    }
  }

  .line {
    margin: 0;
    border: 10px solid lightgoldenrodyellow;
  }

  .missionContent {
    font-family: "Montserrat", sans-serif;
    background: #dfdfdf;
    font-size: 1.5vw;
    padding: 10rem;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-bottom: 38vh;
  }

  .missionContent::first-letter {
    font-size: 3vw;
  }
}

// .content.scrolled{
// 	transform: translate3d(0, 0, 0) scale(1);
// 	opacity: 1;
// }

.curve {
  position: absolute;
  bottom: 0%;
}

@keyframes updown {
  0% {
    bottom: 5vh;
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    bottom: 1vh;
    opacity: 0;
  }
}

.whyUsHeading {

  text-align: center;
  color: black;

  padding: 10px;
}

.whyUsHeading h3 {
  font-size: 40px;
  font-weight: bold;
  color:#2e3c7f;
}

.whyUsContent {

  display: flex;
}

.recruitHead{
  text-align: center;
  color: rgba(53, 22, 107, 1);
  margin: 100px 0px 50px 0px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.aboutUs{
  padding-top: 10vw;
  padding-bottom: 0;
  margin-bottom: 100px;

  h1{
    font-size: 40px;
    color: rgba(53, 22, 107, 1);
    border-bottom: 0.3vw solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 1vh;

  }
}

@include mobile {
  
  .aboutUs{

    h1{
      font-size: 20px;
    }

    p{
      font-size: 15px;
    }
  }
}

.recruitUs{
  margin-right: 10vw;
  margin-left: 10vw;
}