@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  box-sizing: border-box;
}

.concept {
  position: relative;
  padding: 5em;
  height: 40vh;
  overflow: hidden;
  scroll-snap-align: center;
  &:before {
    content: "";
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover:before {
    opacity: 0.5;
  }
}

.concept-one {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  padding-top: 10em;

  h1 {
    font-family: "Montserrat", sans-serif;
    padding-left: 10%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -30px;
    transition: 0.5s ease;
    z-index: 0;
  }
  .hover {
    z-index: 1;
  }
  .hover-1:hover ~ h1 {
    left: 30px;
    margin-top: -10px;
  }
  .hover-2:hover ~ h1 {
    margin-top: -10px;
  }
  .hover-3:hover ~ h1 {
    right: 30px;
    margin-top: -10px;
  }
  .hover-4:hover ~ h1 {
    left: 30px;
  }
  .hover-6:hover ~ h1 {
    right: 30px;
  }
  .hover-7:hover ~ h1 {
    left: 30px;
    margin-top: -50px;
  }
  .hover-8:hover ~ h1 {
    margin-top: -50px;
  }
  .hover-9:hover ~ h1 {
    right: 30px;
    margin-top: -50px;
  }
}

.top {
  height: 100vh;
  //transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
  overflow: hidden;
  background-image: url(https://iiitr-testing.netlify.app/assets/images/index_page/cover.webp);
  background-repeat: no-repeat;
  background-size: cover;

  .aboutIIITR {
    position: absolute;
    height: 80vh;
    width: 30vw;
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.1vw);
    left: 60vw;
    top: 15vh;
    background: rgba(21, 54, 74, 0.71);
    //segoe
    .aboutHead {
      color: white;
      font-weight: 900;
      padding: 1vw;
      position: relative;
      max-height: 0.5vh;
      font-size: 3vw;
      top: 8%;
      left: 0.5vw;
    }

    p {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      padding: 1vw;
      font-size: 1.1vw;
      position: relative;
      top: 15vh;
    }
  }

  .updates {
    position: absolute;
    bottom: 5%;
    height: 30vh;
    width: 40vw;
    margin: 5vw;
    padding: 1vw;
    background-color: rgba(21, 54, 74, 0.71);

    .line {
      position: relative;
      margin: 0;
      top: 5%;
      left: 2%;
      margin-right: 10vw;
      border-top-width: 0.8vw;
      border-top-color: #9e8f74;
    }

    h1 {
      opacity: 1;
      position: relative;
      margin-top: 2vh;
      padding-left: 1vw;
      color: #fff;
      font-size: 2.5vw;
    }
  }

  .scrollNoti {
    display: flex;
    position: absolute;
    bottom: 5vh;
    right: 50vw;
    font-size: 1.2vw;
    animation: 1.8s updown ease-in-out infinite;
    user-select: none;

    .fas {
      color: #fff;
      -webkit-text-stroke: 0px;
    }
  }
}

// .top.scrolled{
// 	transform: translate3d(0, -100%, 0) scale(.75);
// 	opacity: 0;
// }

.content {
  // position: relative;
  // background-color: #fff;
  // margin-top: 10rem;
  // border-top: 10px solid rgba(43,45,127,1);
  // padding: 0;
  // margin: 0;
  // transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
  // transform: translate3d(0, 20px, 0) scale(.75);
  // opacity: 0;

  .missionHead {
    background-color: rgba(43, 45, 127, 1);
    height: 25vh;

    .heading {
      font-family: "Montserrat", sans-serif;
      font-size: 2.5vw;
      font-weight: 1000;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: start;
      top: 50%;
      padding-left: 10vw;
      margin: 0;
      position: relative;
      text-decoration-line: underline;
    }
  }

  .line {
    margin: 0;
    border: 10px solid lightgoldenrodyellow;
  }

  .missionContent {
    font-family: "Montserrat", sans-serif;
    background: #dfdfdf;
    font-size: 1.5vw;
    padding: 10rem;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-bottom: 38vh;
  }

  .missionContent::first-letter {
    font-size: 3vw;
  }
}

// .content.scrolled{
// 	transform: translate3d(0, 0, 0) scale(1);
// 	opacity: 1;
// }

.curve {
  position: absolute;
  bottom: 0%;
}

@keyframes updown {
  0% {
    bottom: 5vh;
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    bottom: 1vh;
    opacity: 0;
  }
}

.whyUsHeading {

  margin: 30px 40%;
  color: black;

  padding: 10px;
}

.whyUsHeading h3 {
  font-size: 40px;
  font-weight: bold;
  color:#2e3c7f;
}

.whyUsContent {

  display: flex;
}