@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  box-sizing: border-box;
}

.hover,
.word {
  cursor: pointer;
}

.concept {
  position: relative;
  padding: 5em;
  height: 40vh;
  overflow: hidden;
  scroll-snap-align: center;
  &:before {
    content: "";
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover:before {
    opacity: 0.5;
  }
}

.concept-one {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  padding-top: 10em;

  h1 {
    font-family: "Merriweather", serif;
    padding-left: 10%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -30px;
    transition: 0.5s ease;
    z-index: 0;
  }
  .hover {
    z-index: 1;
  }
  .hover-1:hover ~ h1 {
    left: 30px;
    margin-top: -10px;
  }
  .hover-2:hover ~ h1 {
    margin-top: -10px;
  }
  .hover-3:hover ~ h1 {
    right: 30px;
    margin-top: -10px;
  }
  .hover-4:hover ~ h1 {
    left: 30px;
  }
  .hover-6:hover ~ h1 {
    right: 30px;
  }
  .hover-7:hover ~ h1 {
    left: 30px;
    margin-top: -50px;
  }
  .hover-8:hover ~ h1 {
    margin-top: -50px;
  }
  .hover-9:hover ~ h1 {
    right: 30px;
    margin-top: -50px;
  }
}




.top{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9;
	transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
	overflow: hidden;
  z-index: 1;
  background-image: url(https://iiitr.ac.in/assets/images/index_page/cover.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.top.scrolled{
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}


.content{
	position: relative;
    background-color: #fff;
    margin-top: 10rem;
	border-top: 10px solid black;
	padding: 0;	
	margin: 0;
	transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
	transform: translate3d(0, 20px, 0) scale(.75);
	opacity: 0;
}
.content.scrolled{
	transform: translate3d(0, 0, 0) scale(1);	
	opacity: 1;
}

.curve{
  position: absolute;
  bottom: 0%;
}

.scrollNoti{
  display: flex;
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  font-size: 1.8rem;
  padding: 2rem;
  animation: 0.5s updown ease-in-out alternate infinite ;
  user-select: none;

  span{
    transform: rotate(90deg);
  }
  
}

@keyframes updown{
  0%{
    bottom: 5vh;
  }
  100%{
    bottom: 3vh;
  }
}

.abhi{
  transform: rotate(-90deg);
}



/////////////////////////////////////

// * {
//   margin: 0;
//   padding: 0;
//   background-color: #2f2f2f;
// }
// .mainD {
//   height: 100vh;
//   width: 100vw;
//   position: relative;
// }
// .d1 {
//   position: absolute;
//   background-image: url(../images/cover.webp);
//   background-size: 2700px 1500px;

//   height: 50vh;
//   width: 15vw;

//   background-position: 0 50%;

//   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 2;
//   animation: dd1 10s 1, dd12 10s 1;
//   animation-delay: 4s, 14s;
// }
// .d2 {
//   position: absolute;
//   background-image: url(../images/cover.webp);
//   background-size: 2700px 1500px;

//   height: 70vh;
//   width: 25vw;

//   background-position: -10vw 50%;
//   left: 10vw;

//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 1;
//   animation: dd2 10s 2;
//   animation-delay: 4s;
// }
// .d3 {
//   position: absolute;
//   background-image: url(../images/cover.webp);
//   background-size: 2700px 1500px;
//   overflow: hidden;

//   height: 120vh;
//   width: 40vw;
//   left: 25vw;
//   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
//   background-position: -35vw 50%;

//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 3;
//   animation: dd3 10s 2;
//   animation-delay: 4s;
// }
// .d4 {
//   position: absolute;
//   overflow: hidden;
//   background-image: url(../images/cover.webp);
//   background-size: 2700px 1500px;

//   height: 100vh;
//   width: 25vw;
//   left: 60vw;
//   background-position: -70vw 50%;

//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 1;
//   animation: dd4 10s 2;
//   animation-delay: 4s;
// }

// @keyframes dd1 {
//   0% {
//   }
//   50% {
//     width: 95vw;
//   }
// }
// @keyframes dd12 {
//   0% {
//   }
//   50% {
//     background-position: calc(0vw - 40px) 50%;
//   }
// }
// @keyframes dd2 {
//   0% {
//   }
//   50% {
//     background-position: calc(-10vw - 40px) 50%;
//   }
// }
// @keyframes dd3 {
//   0% {
//   }
//   50% {
//     background-position: calc(-35vw - 40px) 50%;
//   }
// }
// @keyframes dd4 {
//   0% {
//   }
//   50% {
//     background-position: calc(-70vw - 40px) 50%;
//   }
// }
