@import "./media";
$hamburger-layer-width: 10px;
$hamburger-layer-height: 1.5px;
$hamburger-layer-spacing: 1px;
$hamburger-padding-x : 0px;
$hamburger-padding-y : 0px;
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@mixin barTabs {
  font-size: 1.2rem;
  max-height: 15vh;
  padding: 1.4vw;
  padding-right: 5%;
}

.navBase{
  width: 100%;
  position: fixed;
  z-index: 10;
  max-height: 15vh;
}

.navBar {
  @include barTabs;
  height: 10vh;
  background-color: transparent ;

  .logo {
    position: fixed;
    height: 8vh;
    justify-content: start;
    align-items: center;
    margin-left: 5%;
    margin-right: 10rem;
    cursor: pointer;
    transform: translateY(-600px);
    animation: 1s slideIn ease-in-out forwards 0s;
    z-index: 10;
  }

  .menu {
    opacity: 0;

    @include mobile {
      max-width: 1px;
      display: contents;

      .ham {
        outline: 0;
      }
    }
  }

  .ham{
    cursor: default;
  }

  .list {
    position: fixed;
    right: 5%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    color: black;
    grid-gap: 2rem;
    list-style: none;
    text-align: center;
    z-index: 10;


    .dropdown {
      margin-top: 2rem;
      border-radius: 10%;
      perspective: 1000px;
      font-size: 2rem;
      padding: 1rem;
      z-index: 100;
      transform: translateY(-600px);
      animation: 1s slideIn ease-in-out forwards 0s;
      &:hover {
        background-color: rgba(207, 207, 207, 0.6);
        cursor: pointer;
      }

      &:hover .dropdownMenu li {
        display: block;
      }

      .tabIcon{
        height: 2.5rem;
        margin-right: 1rem;
        font-size: 2.5rem;
      }

      .dropdownMenu {
        position: absolute;
        top: 100%;
        perspective: 1000px;
        width: 90%;
        z-index: -1;
        padding: 0%;

        li {
          display: none;
          list-style: none;
          color: white;
          background-color: #b3b3b3;
          padding: 10px 20px;
          font-size: 1.2vw;
          opacity: 0;
          box-shadow: 0 0 4px 0 #666666;

          &:hover {
            background-color: #c1c1c5;
          }

        }

        &:hover {
          background: #2980b9;
          cursor: pointer;
        }

        @for $num from 0 through 10 {
          .dropdownItem-#{$num} {
            font-size: 1.1vw;
            transform-origin: top center;
            animation: translateX 460ms ($num * 70ms) ease-in-out forwards;
          }
        }
      }
    }
  }

  @include mobile {
    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: -1000%;
      z-index: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .logo{
      display: none;
    }

    .list.active {
      background: #d3d3d3;
      top: 80px;
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
}

.activeA {
  background-color: #ffffff ;
  box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.4)";
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


.naviTab {
  display: -webkit-box;
}


.tabTitle {
  position: relative;
  display: flex;
}

.tabTitle::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.naviTab:hover .tabTitle::after {
	width: 100%;
	left: 0;
}

