@import "./media";
$hamburger-layer-width: 30px;
$hamburger-layer-spacing: 3px;
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@mixin barTabs {
  font-size: 1.2rem;
  min-height: 3rem;
  margin-bottom: 3rem;
  padding: 0.8rem;
  padding-right: 5%;
}

.navBar {
  @include barTabs;
  color: transparent !important;
  background-color: transparent !important;

  .logo {
    height: 7vh;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    padding-right: 10rem;
    cursor: pointer;
  }

  .menu {
    opacity: 0;

    @include mobile {
      display: contents;

      .ham {
        outline: 0;
      }
    }
  }

  .list {
    position: absolute;
    right: 5%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    color: black;
    grid-gap: 2rem;
    list-style: none;
    text-align: center;

    .dropdown {
      margin-top: 2rem;
      border-radius: 10%;
      perspective: 1000px;
      font-size: 2rem;
      padding: 1rem;
      z-index: 100;
      &:hover {
        background-color: rgba(207, 207, 207, 0.6);
        cursor: pointer;
      }
      &:hover .dropdownMenu li {
        display: block;
      }

      .dropdownMenu {
        position: absolute;
        top: 100%;
        width: 100%;
        perspective: 1000px;
        z-index: -1;
        li {
          display: none;
          list-style: none;
          color: white;
          width: 100%;
          background-color: #9e9fa0;
          padding: 10px 20px;
          font-size: 1.2rem;
          opacity: 0;
          box-shadow: 0 0 4px 0 #666666;

          &:hover {
            background-color: #c1c1c5;
          }
        }

        &:hover {
          background: #2980b9;
          cursor: pointer;
        }

        @for $num from 0 through 5 {
          .dropdownItem-#{$num} {
            transform-origin: top center;
            animation: translateX 300ms ($num * 60ms) ease-in-out forwards;
          }
        }
      }
    }
  }

  @include mobile {
    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: -1000%;
      z-index: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .list.active {
      background: #d3d3d3;
      top: 80px;
      opacity: 1;
      transition: all 0.5s ease;
    }
  }
}

.active {
  background-color: #ffffff !important;
  box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.4)";
}

@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
