.recruitUs{
    position: relative;
    padding-top: 8vh;
    min-height: 100vh;
}

.reusableBlock {
    background: #2e3c7fe3;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px #888888;
}

.reusableCard {
    width: 65%;
    padding: 20px;
    margin: 40px;
    font-size: medium;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
}

.reusableHeading {
    color: white;
    font-weight: 900;
    padding: 20px;
    margin: 40px;
}

.reusableHeadingBlock {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.reusableHeadingImage {

    height: 100px;
    width: 100px;
    margin-top: 40px;
    border: blue;

}