@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
@import "./media";


.recruitUs {
  position: relative;
  min-height: 100vh;
  margin-bottom: 30vh;
}

// .reusableMain{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.reusableBlock {
  max-width: 1300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  // margin-left: 7vw;
  // margin-right: 7vw;

  @include mobile{
    flex-direction: column;
  }
}

.reusableCard {
  font-size: medium;
  background-color: white;
  border-radius: 20px;
}

.head {
  display: flex;
  flex-direction: column;
}

.rightHead {
  align-items: flex-end;
}

.reusableHeading {
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  color: #35166b;
  font-weight: 900;
  //width: 80vw;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 1vw;
  text-align: start;
}

.lineBreak {
  margin: 0;
  height: 0.4rem;
  width: 10%;
  margin-bottom: 10vh;
  background: tomato;
  border: none;
  transition: 0.3s ease-in-out;

  @include mobile{
    width: 60%;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
}

.blockquote{
  @include mobile{
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.reusableHeadingBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.R1{
  @include mobile{
    padding-bottom: 5vh;
  }
}

.R2{
  @include mobile{
    padding-bottom: 5vh;
    padding-top: 5vh;
  }
}

.reusableHeadingImage {
  height: 40vh;
  width: 20vw;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;

  @include mobile{
    width: 80vw;
    max-width: 320px;
  }
}

.leftBlock {
  border-left: none;
  border-right: 5px solid #eee;
}

.quotation {
  font-size: 18px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;

  @include mobile{
    padding: 10px 10px;
    font-size: 16px;
  }
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;

  @include mobile{
    font-size: 2.8em;
    top: 15px;
  }
}

.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;

  @include mobile{
    font-size: 2.8em;
    top: 20px;
  }

}
footer {
  margin: 0;
  text-align: right;
  font-size: 1.5em;
}

p {
  font-family: "Montserrat", sans-serif;
}
