.reusableBlock2 {
    background: #2e3c7fe3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px #888888;
    width: 50%;
}

.reusableCard2 {
    padding: 35px;
    margin: 40px;
    font-size:medium;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px #888888;
}

.reusableHeading2 {
    color: white;
    font-weight: 900;
    padding: 20px;
    margin: 20px;
    padding: 20px;
}