.socialIcon
{
    position: relative;
    width: 3vw;
    height: 3vw;
    margin-right: 2.5vw;
    margin-top: 3vh;
    border-radius: 50px;
    transition: all 0.8s;
    box-shadow: 3px 9px 16px rgba(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgba(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socialIcon:hover{
    background: #e60073;
    box-shadow: 0px 0px 2px #ffb6db;
}

.socialIcon:hover:nth-child(2)
{
    background: #1877f2;
    box-shadow: 0px 0px 2px #a9ceff;
}

.socialIcon:hover:nth-child(4)
{
    background: black;
    box-shadow: 0px 0px 2px rgb(124, 124, 124);
}

.socialIcon:hover:nth-child(3)
{
    background: #1da1f2;
    box-shadow: 0px 0px 2px #a5dbfd;
}

.socialIcon i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg circle
{
    stroke-dasharray: 5vmax;
    transition: all 0.8s;
}

.socialIcon:hover svg circle
{
    stroke-dasharray: 15;
}

.socialIcon:hover i
{
    color: white !important;
}