.social
{
    display:flex;
    flex-wrap: wrap;
    font-size:0.8vmax;
    cursor: pointer;
    z-index: 5;
    justify-content: center;
    margin-left: 15%;
}

.social.exit
{
    animation: bounceOut 2s ease-in-out ;
}


@keyframes bounceOut {
    0% {
       transform: scale(1);
    }
    25% {
       transform: scale(.95);
    }
    50% {
       opacity: 1;
       transform: scale(1.1);
    }
    100% {
       opacity: 0;
       transform: scale(.3);
    }
 }

.socialIcon
{
    position: relative;
    width: 80px;
    height: 80px;
    //margin-left: 2.5vw;
    margin-right: 2.5vw;
    //margin-bottom: 1.5vh;
    margin-top: 3vh;
    border-radius: 50px;
    transition: all 0.8s;
}

.socialIcon:hover{
    background: #e60073;
    box-shadow: 0px 0px 2px #ffb6db;
}

.socialIcon:hover:nth-child(2)
{
    background: #1877f2;
    box-shadow: 0px 0px 2px #a9ceff;
}

.socialIcon:hover:nth-child(4)
{
    background: black;
    box-shadow: 0px 0px 2px rgb(124, 124, 124);
}

.socialIcon:hover:nth-child(3)
{
    background: #1da1f2;
    box-shadow: 0px 0px 2px #a5dbfd;
}

.socialIcon i
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg circle
{
    stroke-dasharray: 6vmax;
    transition: all 0.8s;
}

.socialIcon:hover svg circle
{
    stroke-dasharray: 220;
}

